<div class="min-h-screen bg-gray-100 flex flex-col justify-center items-center py-12 sm:px-6 lg:px-8">
	<div class="max-w-md w-full space-y-8">
		<div>
			<img class="mx-auto h-12 w-auto" src="https://raquettesdumiosson.fr/wp-content/uploads/2022/11/cropped-Logo-RdM_2_site-1.jpg" alt="Logo Raquettes du Miosson">
			<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
				Réinitialisation du mot de passe
			</h2>
			<p class="mt-2 text-center text-sm text-gray-600">
				Vous avez demandé à réinitialiser votre mot de passe pour le site
				<a href="https://raquettesdumiosson.fr/" class="font-medium text-indigo-600 hover:text-indigo-500">Raquettes du Miosson</a>.
			</p>
		</div>
		<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
			<p class="text-sm text-gray-600">Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>
			<a href="{{ url('app_reset_password', {token: resetToken.token}) }}" class="block mt-3 text-center bg-indigo-600 border border-transparent rounded-md py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700">
				Réinitialiser mon mot de passe
			</a>
			<p class="mt-4 text-xs text-gray-500">Ce lien expirera dans
				{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
		</div>
		<div class="text-sm text-gray-600">
			<p>Si vous n'avez pas demandé à réinitialiser votre mot de passe, veuillez ignorer cet email.</p>
			<p>Si vous rencontrez des difficultés, n'hésitez pas à nous contacter à
				<a href="mailto:raquettesdumiosson@gmail.com" class="font-medium text-indigo-600 hover:text-indigo-500">raquettesdumiosson@gmail.com</a>.</p>
		</div>
		<div class="mt-6 text-sm text-gray-600">
			<p>Siège social :</p>
			<p>Mairie de Nieuil-l’Espoir</p>
			<p>Place de l’Église, 86340 Nieuil-l’Espoir</p>
		</div>
		<div class="mt-6 text-center text-sm text-gray-500">
			<p>Merci,</p>
			<p>L'équipe des Raquettes du Miosson</p>
		</div>
	</div>
</div>
