{% extends 'base.html.twig' %}

{% block title %}
	Hello PanelController!
{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
	{%block header %}{% endblock %}

	<div {{ svelte_component("AdminPanel") }}></div>

	{% block footer %}{% endblock %}
{% endblock %}
