{% extends 'base.html.twig' %}

{% block title %}Compétitions JEUNES : Circuit Galaxie – TMC
{% endblock %}

{% block body %}
	<div class="container mx-auto px-4 py-6">
		<h1 class="text-xl font-bold mb-4">Compétitions JEUNES : Circuit Galaxie – TMC</h1>

		<p class="mb-2">
			Parents de nos jeunes licenciés, retrouvez dans cet article le calendrier des compétitions selon le niveau de votre enfant sur le territoire de la Vienne, mais également alentours (Charente, Charente-Maritime et Deux-Sèvres).
		</p>

		<p class="mb-4">
			Et pour les parents qui découvrent le tennis, le schéma ci-dessous est pour vous. Il vous aidera à mieux comprendre les différents formats de jeu selon le niveau auquel joue votre enfant.
		</p>

		<p class="mb-4 italic">
			Et si vous avez encore des questions, n’hésitez pas à les poser à son coach.
		</p>

		<div class="flex mb-6">
			<div class="w-2/3">
				<img src="images/competitions/formats-de-jeu.jpg" alt="Formats de jeu" class="w-full h-auto shadow-lg rounded-xl">
			</div>

			<div class="w-1/3 flex flex-col">
				<div class="flex justify-center items-center pt-4">
					<h2 class="font-semibold text-2xl text-center">Calendrier des compétitions :</h2>
				</div>

				<ul class="list-none pl-4 mt-4">
					<li class="mt-4">
						<p>Circuit Galaxie VIOLET,
							<a href="documents/competitions/galaxie-violet.pdf" target="_blank" class="text-orange-600 hover:text-orange-700 hover:font-bold underline">cliquez-ici</a>
						</p>
					</li>
					<li class="mt-4">
						<p>Circuit Galaxie ROUGE,
							<a href="documents/competitions/galaxie-rouge.pdf" target="_blank" class="text-orange-600 hover:text-orange-700 hover:font-bold underline">cliquez-ici</a>
						</p>
					</li>
					<li class="mt-4">
						<p>Circuit Galaxie ORANGE,
							<a href="documents/competitions/galaxie-orange.pdf" target="_blank" class="text-orange-600 hover:text-orange-700 hover:font-bold underline">cliquez-ici</a>
						</p>
					</li>
					<li class="mt-4">
						<p>Circuit Galaxie VERT,
							<a href="documents/competitions/galaxie-vert.pdf" target="_blank" class="text-orange-600 hover:text-orange-700 hover:font-bold underline">cliquez-ici</a>
						</p>
					</li>
					<li class="mt-4">
						<p>TMC 11-18 ans,
							<a href="documents/competitions/tmc.pdf" target="_blank" class="text-orange-600 hover:text-orange-700 hover:font-bold underline">cliquez-ici</a>
						</p>
					</li>
					<li class="mt-4">
						<p>TMC VERT 11-18 ans,
							<a href="documents/competitions/tmc-vert.pdf" target="_blank" class="text-orange-600 hover:text-orange-700 hover:font-bold underline">cliquez-ici</a>
						</p>
					</li>
					<li class="mt-4">
						<p>Tournois traditionnels 11-18 ans,
							<a href="documents/competitions/tournois-traditionnels.pdf" target="_blank" class="text-orange-600 hover:text-orange-700 hover:font-bold underline">cliquez-ici</a>
						</p>
					</li>
				</ul>

				<div class="flex justify-center items-center flex-col mt-6 ml-4">
					<img src="images/competitions/tenup.jpg" alt="TEN UP" class="w-auto mx-auto rounded-lg">
					<p class="opacity-50 font-semibold text-center mt-4 px-4">TEN UP = appli indispensable pour inscrire votre enfants sur les compétitions</p>
				</div>
			</div>
		</div>


		<hr class="my-4">

		<div class="text-center">
			<p class="mb-4">Télécharger le guide complet de la compétition saison 2023-2024 en
				<a href="documents/competitions/guide-competition.pdf" target="_blank">
					class="hover:text-orange-600 font-bold">cliquant-ici.</a>
			</p>
		</div>
	</div>
{% endblock %}
