<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Club Raquettes du Miosson - Le tennis, c'est pour toute la famille !
			{% endblock %}
		</title>
		<link rel="icon" href="../public/images/cropped-Logo-RdM_2_site-1.jpg">


		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}

		{{ encore_entry_script_tags('app') }}
		{% block javascripts %}{% endblock %}
	</head>
	<body class="bg-gray-100">
		{% block header %}
			{% include "header.html.twig" %}
		{% endblock %}

		{% block body %}{% endblock %}

		{% block footer %}
			{% include "footer.html.twig" %}
		{% endblock %}
	</body>
</html>
