<footer class="">
	<div class="ml-6 container flex flex-nowrap mx-auto">
		<div class="w-full mb-6 md:mb-0">
			<h3 class="text-xl mb-4">À propos de nous</h3>
			<ul>
				<li><a href="">Qui sommes nous ?</a></li>
				<li><a href="">Plan du site</a></li>
				<li><a href="">Politique de confidentialité</a></li>
				<li><a href="">Conditions d'utilisation</a></li>
				<li><a href="">Mentions légales</a></li>
				<li><a href="">CGU</a></li>
				<li><a href="">CGV</a></li>
			</ul>
		</div>

		<div class="w-full mb-6 md:mb-0">
			<h3 class="text-xl mb-4">Liens rapides</h3>
			<ul>
				<li><a href=""></a></li>
			</ul>
		</div>

		<div class="w-full">
			<h3 class="text-xl mb-4">Contactez-nous</h3>
			<address>
				Courriel :<a href="mailto:raquettesdumiosson@gmail.com">raquettesdumiosson@gmail.com</a><br>
				<a href="https://www.facebook.com/people/Raquettes-du-Miosson/100084840079236/">Facebook</a><br>
				Mairie de Nieuil-l’Espoir<br>
				Place de l’Église, 86340 Nieuil-l’Espoir<br>
			</address>
		</div>
	</div>

	<p class="mt-8 text-sm text-center">©
		{{ "now"|date("Y") }}
		Club Raquettes du Miosson. Tous droits réservés.</p>
</div></footer>
