<header>
	<div class="flex flex-col">
		<div class="flex flex-row">
			<img src="{{ asset("images/logo.jpg") }}"/>
			<div class="flex flex-col">
				<h1>Club Raquettes du Miosson</h1>
				<h2>Le tennis, c'est pour toute la famille.</h2>
			</div>
		</div>
		<nav>
			<ul class="flex flex-row">
				<li class="m-8">
					<a href="/">Accueil</a>
				</li>
				<li class="m-8">
					<a href="/club">Le club</a>
				</li>
				<li class="m-8">
					<a href="/ecole">Ecole de tennis</a>
				</li>
				<li class="m-8">
					<a href="/tournois">Tournois</a>
				</li>
				<li class="m-8">
					<a href="/contact">Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
