<div class="flex flex-col">
	<table>
		<tr>
			<th>Nom</th>
			<th>Prénom</th>
			<th>Mail</th>
			<th>Rôle</th>
			<th>Niveaux</th>
			<th>Nombre de jetons</th>
		</tr>

		{% for licensed in all_licensed %}
			<tr>
				<td>{{ licensed.name }}</td>
				<td>{{ licensed.surname }}</td>
				<td>{{ licensed.email }}</td>
				<td>{{ licensed.tokenAmount }}</td>
			</tr>
		{% endfor %}
	</table>
	<div>
		<p>Actions</p>
		<hr/>
		<button>Ajouter</button>
		<button>Supprimer</button>
		<button>Modifier</button>
	</div>
</div>
