{% extends "base.html.twig" %}

{% block title%}
	Raquettes du Miosson - Erreur 404
{% endblock %}

{% block body %}
	<h1>
		Oups ! La page que vous demandez n'existe pas !
	</h1>

	<h2>
		<a href="/">Retour à l'accueil</a>
	</h2>
{% endblock %}
